a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    padding: 24px;
    font-size: 15px;
}
 
mat-toolbar{
    border-radius: 3px;
    margin-bottom: 16px;
}
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}