<mat-toolbar color="primary">
  <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div class="nav-item">
      <a routerLink="/">Home</a>
  </div>
  <div class="nav-item">
    <a routerLink="/shopping-list">Shopping list</a>
  </div>
</mat-toolbar>