
<div *ngIf="shoppingLists != null">
<mat-card *ngFor="let shoppingList of shoppingLists"  class="card" ng-click="shoppingList.preview($event, list)" role="button" tabindex="0" >
    
    
  
  
  <div>
        <div id="shoppingListName">{{shoppingList.name}}</div>
        <div id="shoppingListItemCount">{{shoppingList.getBoughtItemsCount()}} / {{shoppingList.getItemsCount()}}</div>
        <mat-icon id="deleteIcon">delete</mat-icon>
    </div>

</mat-card>







<!-- <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->


