.card {
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
  }

 #shoppingListName {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  width: 80%;
  word-wrap: break-word;
 }

 #shoppingListItemCount {
  display: inline-block;
  width: 15%;
 }

 #deleteIcon {
   color: darkred;
 }